*{
    font-family: Arial, Helvetica, sans-serif;
}

#r_address ,#r_items{
    /* border: 1px solid red; */
    width: 96%;
    height: auto;
    margin: auto;
    text-align: center;

}
#r_address{
    color: #1E516C;
}
#r_address h1{
    font-size: 18px;
}
#r_address div{
    font-size: 16px;
}
#r_items>div:first-child{
    height: 40px;
    width: 50%;
    margin: auto;
    font-size: 20px;
    padding-top: 7px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    border-radius: 3px;
    transition: 2s;

    /* background-color: brown; */

}
#r_checkbox{
    height: auto;
    width: 90%;
    margin: auto;
    border: 2px solid white;
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;


}
#r_checkbox>div:nth-child(1){
    border: 1px solid white;
    width: 70%;
}
#r_proceed{
    /* border: 1px solid rgb(4, 4, 8); */
    width: 25%;
    margin-left: 5%;
    background-color: #fafafa;
    height: 300px;
    padding: 20px;
}
#r_proceed>h1{
    text-align: left;
    color: #313131;
}
#r_proceed>div{
    display: flex;
    justify-content: space-around;
}
#r_proceed>div p:first-child{
    font-size: 16px;
    margin: 20px;

}
#r_proceed>div p:last-child{
    font-size: 18px;
    margin: 20px;
}
#r_proceed hr{
    width: 80%;
    margin: auto;
}
#r_proceed>div:last-child{
    border: 1px solid black;
    background-color: #ffce61;
    width: 80%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-top: 15px;



}
#r_proceed>div:last-child img{
    height: 15px;
    width: 14px;
    /* margin-top: 20px; */
    /* margin-right: 30px; */
}
#r_data {

    width: 100%;
    height: auto;


}
#r_data>div{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    /* border: 1px solid greenyellow; */
}
/* #r_data>div div,p{
    border: 1px solid rgb(0, 0, 0);
    margin-top: 7px;
    width: 100px;
} */
.r_inQuntity{
    display: flex;
    /* width: 10%; */
    /* margin: auto; */
    height: 33px;
    width: 100px;
    border: 0.2px solid gray;
    margin-top: 7px;
    justify-content: center;

}

#r_col1{
    width: 100px;
    border: 1px solid white;
    margin-top: 7px;

}
#r_col2{
    width: 300px;
    border: 1px solid white;
    margin-top: 7px;
}
#r_col3{
    width: 100px;
    border: 1px solid white;
    margin-top: 7px;
}

#r_col5{
    width: 100px;
    border: 1px solid white;
    margin-top: 7px;
}
#minus,#plus,#r_in{
    width: 100%;
    display: flex;
    /* outline: none; */
    /* border: 0.5px solid gray; */
    justify-content: center;
    padding-top:7px ;
    cursor: pointer;
}
#r_in{
    padding-top:0px ;
    border: 0.5px solid gray;
    border-top: none;
    border-bottom: none;

}

#r_number{
    width: 100%;
    outline: none;
    border: none;
    padding-left: 10px;
}
#r_aboutus{
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;

}
#r_aboutus>div{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
#r_playstore{

    height: 60px;
    width: 20%;
    margin: auto;
}
#r_playstore+div>div>a{
    text-decoration: none;
    color: white;
}
#r_playstore img{
    /* margin: 5px 10px 5px 5px; */
    height: 60px;
    width: 100%;
}
#r_playstore+div{
    /* justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 80%;
    margin: auto;
    gap:15px;
    /* display: flex;
    justify-content: space-around; */
}

#r_f_i{
    display: flex;
}
#r_f_i>div{
    height: 46px;
    width: 46px;
    border-radius: 100%;
    background-color: #FFCE61;
    text-align: center;
    margin: 10px;

}
.r_insta{
    width: 18px;
    height: 18px;
    margin-top: 13px;
}
#r_img{
    height: 40px;
    width: 50px;

}
#r_cancel{
    height: 18px;
    width: 18px;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
}
#r_col1{
    display: flex;
}
#update{
    width: 100%;
    display: flex;
    justify-content: end;
    /* border: 1px solid black; */
    margin-top: 10px;
}
#update>button{
    height: 50px;
    width: 146px;
    background-color: #FFCE61;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
#r_pop{
    background-color: green;
    color: white;
    width: 40%;
    height: 40px;
    padding-top: 10px;
    margin-left: 10%;
}


@media all and (min-width:421px)  and (max-width:900px){
    #r_playstore+div{
        /* justify-content: space-evenly; */

        grid-template-columns: repeat(4,1fr);

    }
    #heading{
        display: none;
    }
    #r_data>div div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
}
@media all and (min-width:81px)  and (max-width:420px){
    #r_playstore+div{

        grid-template-columns: repeat(2,1fr);

    }
    #heading{
        display: none;
    }
    #r_data>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
}