#body{
    font-style: Lato;
    font-family: sans-serif;
}
#initial_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color:#1e516c;
    
    font-style: Lato;
    font-family: sans-serif;
}
#Home{
    margin-top:-20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:#1e516f;
    font-size: 18px;
}
#split{
    font-size: 10px;
}
#vendor{
    color:#313131;
    font-style: Lato;
    font-family: sans-serif;
}
#vendor_para{
    color:#313131;
    font-size: 16px;
    font-style: Lato;
    font-family: sans-serif;
}
#inp_split{
    color:red;
}
label{
    color:#313131;
}
#main_box{
    display:flex;
    /* justify-content: space-around; */
    margin-left: 0px;
    
}
#main_box input{
    width:270%;
    
}
input{
    height:30px;
    cursor: pointer;
    
}
.vendor_regis{
    
   
    font-size: 14px;
    /* border:1px solid black; */
    height:1000px;
    width:80%;
    margin: auto;
    line-height: 40px;
}
.vendor_regis div{
    color:#3e6c95;
}
.vendor_regis input{
     border:0.1px solid rgb(188, 179, 179);
     padding: 14px 14px;
}
#side_div{
    margin-left: 440px;
    
}
.width100{
    width:96%;
}
.big_box{
    width:96%;
    height:100px;
    padding: 0px 10px;
    overflow: hidden;
}
#important{
    font-size: 16px;
    font-style: italic;
    color:#9d9d9d;
}
#Reg_button{
    color:white;
    background-color: #ffce61;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 15px;
    border-radius: 10px;
    border:0px;
    margin-left:550px ;
    margin-top: 10px;
}
.width_half{
    width:43%;
}
.required_field{
    
    color:#ab5255;
}
#err_div{
    /* border: 1px solid; */
    background-color: #f2dede;
    line-height: 15px;
    padding-left: 20px;
    
}
input:focus {
	outline: none;
  	border: 1px solid #ca4145 ;
}
#fix{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    background-color: #ca4145;
}
#r_aboutus>div{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
#r_playstore{

    height: 60px;
    width: 20%;
    margin: auto;
}
#r_playstore+div>div>a{
    text-decoration: none;
    color: white;
}
#r_playstore img{
    /* margin: 5px 10px 5px 5px; */
    height: 60px;
    width: 100%;
}
#r_playstore+div{
    /* justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 80%;
    margin: auto;
    gap:15px;
    /* display: flex;
    justify-content: space-around; */
}

#r_f_i{
    display: flex;
}
#r_f_i>div{
    height: 46px;
    width: 46px;
    border-radius: 100%;
    background-color: #FFCE61;
    text-align: center;
    margin: 10px;

}
.r_insta{
    width: 18px;
    height: 18px;
    margin-top: 13px;
}
#r_img{
    height: 40px;
    width: 50px;

}
#r_cancel{
    height: 18px;
    width: 18px;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
}
#r_col1{
    display: flex;
} 
 #update{
    width: 100%;
    display: flex;
    justify-content: end;
    
    margin-top: 10px;
} 
#update>button{
    height: 50px;
    width: 146px;
    background-color: #FFCE61;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

/* .......................... */

#v_container{
    width: 100%;
    height: 450px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: #81751d;

}
.v_h2{
    padding-top: 2%;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 500;
    size: 36px;
    color: #ffffff;
}
#vv1{
    width: 100%;
    height: 60px;
    /* border: 1px solid rgb(29, 50, 170); */
    margin-top: -1%;
}
#vv2{
    width: 100%;
    height: 350px;
    display: flex;
    gap: 8px;
    margin-bottom: -5%;
}
#v_container1{
    width: 33%;
    height: 310px;
    /* border: 1px solid red; */
}
#v_container2{
    width: 32%;
    height: 350px;
    /* border: 1px solid red; */
}
#v_container3{
    width: 32%;
    height: 350px;
    /* border: 1px solid red; */
}
.fp1{
    padding: 12% 5% 0% 5%;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 19px;
    color:#ffffff;
}
.v_name{
    margin-bottom:40%;
}
#vv_last{
    width: 100%;
    height: 110px;
    /* border: 1px solid black; */
    background-color: #81751d;
    text-align: center;
    padding-top: 5%;
}
#v_star{
    width: 60%;
    height: 50px;
    display: flex;
    margin-right: -4;
   
}
.v_img{
    height: 30px;
    padding-top: 7%;
}
#v_star>p{
    margin-top: 5%;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 15px;
    color:#ffffff;
}

.btn{
    background-color: #ffce61;
    border: 1px solid #ffce61; 
    padding: 1.5% 1% 1.5% 1%;
    margin-top: -1%;
    border-radius: 3px;
}

 .btn:hover{
   color: black;
    background-color: #cfdadb;  
    text-emphasis-color: black;
}

