
h1{
    color:#1e516c;
    margin-left: 45%;
}
div{
  
    height: 25px;
    width: 15%;
    margin: auto;
}
a{
 text-decoration: none;
    
    margin-left: 20px;
    margin-right: 20px;
}

#top2{
    height: 100px;
    width: 60%;

    display: flex;
    justify-content: space-between;
}
#top2>h2{
margin: auto;
}
#top3{
    margin-top: 10px;
    height: 450px;
    width: 75%;
   
    display: flex;
    /* justify-content: space-between; */
}
#last{
    margin-left: 50%;
}
#top3>#Login{
    height: 500px;
    width: 35%;
   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#top3>#Login>div{
    height: 100px;
    
    width: 100%;
}
#con_a{
    border: 1px solid;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
#log_email,#log_pass{
    height: 50px;
    width: 80%;
    margin-left: 15px;
}
#log_btn{
    
    margin-left: 50px;
    margin-top: 10px; 
    height: 50px;
}
button:hover{
 background: white;
}
#log_btn:hover{
    background: white;
    margin-top: 10px;
    
   }
#top3>#Register{
    height: 450px;
    width: 35%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#email__{
   
    width: 80%;
    margin-left: 15px;
}
h4,p{
    margin-left: 15px;
}
button{
    margin-left: 55px;
    height: 50px;
    width: 80px;
    background-color: gold;
}