
#v_1upper{
    margin-left: 600px;

}
#mainlog{
    display: flex;
    margin-top: 60px;
    gap: 20px;
}
#mainlog>div{
    width: 48%;
    height: 500px;

    margin: 10px;;
}
#log_div{
    width: 100%;
    height: 450px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#c_google
{
    height: 30px;
    margin-top: 5px;
    display: flex;

}
#c_google>img{
    height: 100%;
    width: 50px;

}
#btn1{
    background-color: blue;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}
#userdata{
    margin-top: 40px;
}
.in{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
}
#check{
    
    width: 15px;
    height: 15px;
    margin-top: 20px;
    margin-right: 10px;
}
#login{
    margin-left: 200px;
    margin-top: 50px;
}
.btnlr{
    background-color: #FFCE61;
  
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    border: .5px solid;
    border-radius: 5px;

}