#code{
    width: 30%;
    height: 40px;
    margin-left: 460px;
    margin-top: 50px;
    
}
#btn{
    height: 40px;
    cursor: pointer;
    width: 10%;
    font-weight: 800;
  
}
#btn:hover{
    color: white;
    background-color: black;
}
body{
    background-image: url("https://cdn.xxl.thumbs.canstockphoto.com/otp-or-one-time-password-for-one-login-session-or-transaction-vector-eps-vector_csp89324442.jpg");
    background-size: 50%;
}