body{
    background-color:rgba(0,0,0,0.4) ;
    align-items: center;
}

.md_pay_container{
    width: 555px;
    height: 575px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}


.md_pay_1{
    display: flex;
    width:px;
    height: 30px;
}
.md_pay_1>div{
   text-align: center;
   color: #419eab;
   width: 30px;
   border: none;
   cursor: pointer;
   
}


.md_pay_2{
    display: flex;
    width: 100%;
    height: 60px;
}

.md_pay_2 div:nth-child(1){

    height: 100%;
    width: 50px;
    text-align: center;
}

.md_pay_2 p{
    font-size: 14px;
}

.md_pay_3{
    display: flex;
    width: 100%;
    height: 102px;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 15px;
}

.fa-customize{
    font-size: 4px;
    width: 20px;   
}

#md_pay1{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

#md_pay1 div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between ;
}

#md_pay1 div div:nth-child(1){
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    }

 #md_pay1 div div:nth-child(2){
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
}

#md_pay1 button{
    width: 92.77px;
    text-decoration: none;
    border: none;
    height: 36px;
   background-color:  #c83259;
   color: white;
   font-size: 14px;
  
   
}

#md_pay1 div div:nth-child(3){
    font-size: 14px;
    font-weight: 400;
     height: 48px;
     display: flex;
     align-items: flex-end;
     
}

.md_pay_3 div div{
    display: flex;
}

#md_pay2{
    padding-top: 5px;
    line-height: 0px;
}

#md_pay3{
    
    font-size: 14px;
    width: 250px;
}

.md_pay_3 h4{
    height: 30px;
}
.md_pay_3_inner{
    width: 50%;
}

.md_pay_4_inner{
    width:50%;
}

.md_pay_4_inner h4{
    height: 30px;
}

.md_pay_4{
    display: flex;
    justify-content: space-between;
}

.md_pay_5{
    display: flex;
}

.md_pay_4 #md_pay1{
    height: 100px;
}

.md_pay_6{
    display: flex;
    margin-top: 10px;
}

.md_heading{
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #55556c;
}

.md_heading+div{
  width: 100%;
}
#vV_last{
    text-align: center;
    padding-top: 10%;
}
#vV_last1{
    padding: 2% 3% 2% 3%;
    border-radius: 3px;
    color: aliceblue;
    background-color: rgb(0, 19, 128);
}
#vV_last2{
    padding: 2% 2% 2% 2%;
    border-radius: 3px;
    color: aliceblue;
    background-color: rgb(0, 19, 128);
}

@media all and (min-width:470px) and (max-width:608px)
{
    .md_pay_container{
        width: 90%;
    }

    .md_pay_3{
        height: 18%;
    }
}

.pay_now1:hover, .pay_now2:hover{
    cursor: pointer;
    background-color:#ad566f ;
}
